<%= render 'share/page_title', title: 'listing all Recipes' %>
<div align="center">
    <%= will_paginate %>
</div>
<%= render 'recipe', obj: @recipes %>
<div align="center">
    <%= will_paginate %> 
</div>