<div class="jumbotron center">
  <h1>Welcome to my recipe app</h1>
  <p>The best recipe sharing app</p>
  <p><%= link_to "Sign up", "#", class: "btn btn-danger btn-lg" %>
  <%= link_to "Log in", "#", class: "btn btn-success btn-lg" %></p>
</div>

