<div class="jumbotron center">
  <h1>Welcome to my recipe app</h1>
  <p>The best recipe sharing app</p>
  <p><%= link_to "View all recipes", recipes_path, class: "btn btn-danger btn-lg" %>
  <%= link_to "Signup", signup_path, class: "btn btn-success btn-lg" %></p>
</div>

